@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$darkBlue: hsl(209, 23%, 22%);  //!(Dark Mode Elements)
$lightDarkBlue: hsl(200, 15%, 8%);  //!(Dark Mode Background)
$veryDarkBlue: hsl(207, 26%, 17%);  //!(Light Mode Text)
$darkGray: hsl(0, 0%, 52%);  //!(Light Mode Input)
$veryLightGray: hsl(0, 0%, 98%);  //!(Light Mode Background)
$white: hsl(0, 0%, 100%);  //!(Dark Mode Text & Light Mode Elements)

html[data-theme='dark'] {
  --backGroundColor: hsl(200, 15%, 8%);
  --modeElements: hsl(209, 23%, 22%);
  --colorModeText: hsl(0, 0%, 100%);
  --colorModeInput: hsl(0, 0%, 52%);
  --colorModeInputText: hsl(0, 0%, 77%);
  --boxShadow: 0 0 10px 1px rgb(0, 0, 0);
}

html[data-theme='light'] {
  --backGroundColor: hsl(0, 0%, 98%);
  --modeElements: hsl(0, 0%, 100%);
  --colorModeText: hsl(207, 26%, 17%);
  --colorModeInput: hsl(209, 23%, 22%);
  --colorModeInputText: hsl(0, 0%, 52%);
  --boxShadow: 0 0 10px 1px rgba(219, 219, 219, 0.88);
}