@import "../../styles/fonts";

.filter {
  max-width: 100%;
  padding: 130px 67.5px 50px 67.5px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s linear, visibility 0.3s linear;

  &_inactive {
    opacity: 0;
    visibility: hidden;
  }

  @media screen and (max-width: 1250px) {
    width: 100%;
    box-sizing: border-box;
  }

  @media screen and (max-width: 650px) {
    padding: 110px 25px 30px 25px;
    flex-direction: column;
    gap: 55px;
  }
}

.filter__glassSearch {
  position: absolute;
  top: 147px;
  left: 92px;
  width: 20px;
  height: 20px;
  display: none;

  @media screen and (max-width: 650px) {
    top: 128px;
    left: 45px;
  }
}

.filter__glassSearch_type_light {
  display: block;
}

.filter__glassSearch_type_dark {
  display: block;
  color: var(--colorModeInputText);
  width: 22px;
  height: 22px;
  transition: color 0.25s linear;
}

.filter__input {
  font-weight: $font-weight-semiBold;
  color: var(--colorModeText);
  font-size: 18px;
  width: 485px;
  height: 55px;
  background-color: var(--modeElements);
  box-shadow: var(--boxShadow);
  border: 1.2px solid var(--modeElements);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 15px 15px 15px 70px;
  transition: background-color 0.25s linear;

  &:focus {
    border-color: var(--colorModeInput);
    outline: none;
  }

  &::placeholder {
    font-size: 15px;
    font-weight: $font-weight-light;
    color: var(--colorModeInputText);
    transition: color 0.25s linear;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    padding-left: 60px;
  }
}

.filter__select {
  width: 200px;
  height: 55px;
  font-size: 15px;
  padding: 15px;
  font-weight: $font-weight-semiBold;
  background-color: var(--modeElements);
  color: var(--colorModeText);
  box-shadow: var(--boxShadow);
  border: 1.2px solid var(--modeElements);
  border-radius: 6px;
  box-sizing: border-box;

  &:focus {
    //border-color: var(--colorModeInput);
    outline: none;
  }
}

.filter__option {
  font-weight: $font-weight-semiBold;
}